.video-container  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-video {
    width:90%;
}

@media (min-width:  700px) {
    .video-container  {
        flex-direction: row;
        padding: 3rem;
    }

    .video-video {
        height: auto;
        min-width: 60vw;
        max-width: 60vw;
        
    }

    .video-text{
        height: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .video-container:nth-child(odd){
        flex-direction: row-reverse;
    }
}