.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 4rem;
    background-color: white;
    z-index: 9999;
    position: fixed;
}

a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.link-container{
    display: flex;
}

.links {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.navbar-toggle {
    display: none; /* Hidden by default */
    cursor: pointer;
    font-size: 1rem;
    position: absolute;
    right: 2rem; /* Align toggle button to the right */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Perfect vertical centering */
  }

@media (max-width: 699px){
    .links{
        position: fixed;
        top: 4rem;
        right: 0;
        width:40vw;
        height: calc(100vh - 4rem);
        transform: translateX(100%);
        flex-direction: column; 
        transition: transform 0.3s ease-in-out;
        text-align: right;
    }

    .links.active{
        transform: translateX(0%);
    }

    .links *{
        padding-right: 1rem;   
        padding-top: 1rem; 
        width: 100%; /* Full width for better touch targets */
        text-align: right; /* Align text to the right */
    }

    .navbar-toggle{
        display: block;
    }
}

@media (min-width: 700px){

}