.about-content{
    display: flex;
    height: 100%;
    max-height: 80vh;
    width: 100%;
    gap: 2rem;
}

.about-photo{
    height: auto;
    width: 40%;
    object-fit:cover;
    object-position: center;
    aspect-ratio: 3/4;
    transition: 0.5s;
}

.about-photo:hover {
    transform: scale(1.01); /* Subtle hover effect */
}

@media (max-width: 1000px) {
    .about-content{
        flex-direction: column;
        max-height: none;
    }

    .about-photo{
        height: 100%;
        width: 100%;
        aspect-ratio: 16/9;
    }
}

.about-text{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    padding-right: 0;
    padding-bottom: 0;
    box-sizing: border-box;
    gap: 1.5rem;
}

.about-text > h1 {
    margin: 0 0 20px 0;
}

.about-text > p {
    margin: 0;
    overflow-y: auto;
    max-height: 50vh;
    text-align: left;
    line-height: 1.6;
    padding-right: 1rem;
}

.social-links{
    display: flex;
    width:100%;
    gap: 2rem;
    justify-content: center;
}

.social-links > *{
    transform: scale(2) translateY(50%);
    transition: 0.5s;
    transform-origin: center;
    margin-bottom: auto;
}

.social-links > *:hover{
    transform: scale(2.1) translateY(50%);
}

.contact-info {
    display:flex;  
    gap:5rem; 
    justify-content: center;
    width: 100%;   
}